* {
    margin: 0;
    background-color: #f1f1f1;
}

#nav {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    background-color: #f1f1f1;
    border-right: 1px solid #ccc;
}

a {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    border-left: 5px solid #f1f1f1;
}

p {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 1rem;
    border-bottom: 1px solid black;
    text-align: center;
}

a.active {
    color:#00983A;
    background-color: white;
    border-left: 5px solid #00983A;
}

a:hover {
    background-color:#ccc;
    border-left: 5px solid;
}

#edit {
    height: 100%;
    width: 85%;
}

app-dialog {
    padding: 2rem;
}

app-edit-intro, app-edit-news, app-edit-selective {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-edit-userform {
    width: 100%;
    height: 100%;
}