<div id="nav">
    <img src="assets/image/logo.svg" alt="logo">
    <p>Szerkesztés mód</p>
    <a *ngFor="let item of menuitems" id="{{item.id}}" (click)="toggle(item)" 
    [ngClass]="{'active': item.active}">{{item.label}}</a>
</div>

<div id="edit">
    
    <app-edit-intro *ngIf="edited === 'menu-intro'">
    </app-edit-intro>
    
    <app-edit-news *ngIf="edited === 'menu-news'">
    </app-edit-news>

    <app-edit-selective *ngIf="edited === 'menu-selective'">
    </app-edit-selective>

    <app-edit-userform *ngIf="edited === 'menu-userform'">
    </app-edit-userform>

    <app-edit-contact *ngIf="edited === 'menu-contact'">
    </app-edit-contact>

</div>