.mat-slide-toggle.mat-checked /deep/ .mat-slide-toggle-bar {
    background: lightgreen;
}
.mat-slide-toggle.mat-checked /deep/ .mat-slide-toggle-thumb {
    background: #00983A;
}

table {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}

th.garbages, td.garbages {
    border: 1px solid #dddddd;
    text-align:left;
}

tr.garbages:nth-child(even) {
    background-color: #dddddd;
}

.mid{
    text-align:center !important;
}

a {
    cursor:pointer;
    color:#00983A;
}

fa-icon {
    font-size: 2rem;
    cursor:pointer;
}

label {
    font-weight: normal;
    margin-left: 5%;
    margin-right: 10px;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 5px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}