
<form (ngSubmit)="onSubmit()">
    <label for="name">Hulladék neve:</label>
    <input type="text" id="name" [(ngModel)]="garbage.name" name="name" required #nameInput="ngModel">
    <button type="submit" [disabled]="nameInput.invalid" id="sendBtn">Hozzáadás</button>
</form>

<table>
    <thead>
        <tr>
            <th>Aktív</th>
            <th>Lomhulladék megnevezése</th>
            <th>Törlés</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of garbagesCont">
            <td><mat-slide-toggle [(ngModel)]="item.active" (change)="activityChange(item)"></mat-slide-toggle></td>
            <td>{{item.name}}</td>
            <td class="mid">
                <a (click)="deleteGarbage(item)">
                    <fa-icon [icon]="trashcan"></fa-icon>
                </a>
            </td>
        </tr>
    </tbody>
</table>