<div>
    <a class="delete" (click)="updateMultiple()">
        <fa-icon class="delete" [icon]="trashcan"></fa-icon>Kijelöltek törlése
    </a>
    <label for="district">Szűrés városrészekre:</label>
    <select id="district" [(ngModel)]="selectedDistrict" name="district" required #districtInput="ngModel">
        <option>
            Minden városrész
        </option>
        <option *ngFor="let district of districtsCont" [value]=district.area>
            {{district.area}}
        </option>
    </select>
</div>

<table>
    <tr>
        <th><input type="checkbox" [(ngModel)]="header.completed" [checked]="allComplete"
                (change)="setAll($event.checked)"></th>
        <th>Név</th>
        <th>Beküldés</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Városrész</th>
        <th>Cím</th>
        <th>További adatok</th>
        <th></th>
    </tr>
    <tr *ngFor="let item of requestsCont | paginate: { itemsPerPage: rowsPerPage, currentPage: p }">
        <td><input type="checkbox" [(ngModel)]="item.completed" (ngModelChange)="updateAllComplete()"></td>
        <td>{{item.name}}</td>
        <td>{{item.date | date:'yyyy.MM.dd HH:mm:ss'}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.district}}</td>
        <td>{{item.street}} {{item.houseNumber}}</td>
        <td>
            <a (click)="openDialog(item)">
                Részletek megjelenítése
            </a>
        </td>
        <td>
            <a (click)="updateRequest(item)">
                <fa-icon [icon]="trashcan"></fa-icon>
            </a>
        </td>
    </tr>
</table>
<pagination-controls class="custom-pagination" (pageChange)="p = $event; selectReset()" autoHide="true"
    responsive="true" previousLabel="Előző" nextLabel="Következő">
</pagination-controls>
<label for="rowsPerPage">Sorok száma oldalanként:</label>
<select id="rowsPerPage" [(ngModel)]="rowsPerPage" name="rowsPerPage" (change)="p = 1; updateAllComplete(); selectReset()">
    <option *ngFor="let item of rowsPerPageCont">{{item}}</option>
</select>