<div class="row">
    <div class="container">
        <form (ngSubmit)="uploadNewsDialog()">
            <div class="row">
                <label for="title">Cím</label>
                <input type="text" id="title" required [(ngModel)]="title" name="title" #titleInput="ngModel">
                <!-- <div class="help error" *ngIf="titleInput.invalid && titleInput.dirty">
                    A címnek legalább 5 karakter hosszúságúnak kell lennie.
                </div> -->
            </div>

            <div class="row">
                <label for="text">A hír szövege</label>
                <textarea class="textarea" required [(ngModel)]="text" name="text" #textInput="ngModel"></textarea>
                <!-- <div class="help error" *ngIf="textInput.invalid && textInput.dirty">
                    A hír szövegének legalább 100 karakter hosszúságúnak kell lennie.
                </div> -->
            </div>

            <div class="row">
                <div class="col-50">
                    <label for="sign">Aláírás</label>
                    <input type="text" id="sign" [(ngModel)]="sign" name="sign" #signInput="ngModel">
                    <!-- <div class="help error" *ngIf="signInput.invalid && signInput.dirty">
                        Az aláírásnak legalább 5 karakter hosszúságúnak kell lennie.
                    </div> -->
                </div>

                <div class="col-50">
                    <label for="rank">Beosztás</label>
                    <input type="text" id="rank" [(ngModel)]="rank" name="rank" #rankInput="ngModel">
                    <!-- <div class="help error" *ngIf="rankInput.invalid && rankInput.dirty">
                        A beosztásnak legalább 3 karakter hosszúságúnak kell lennie.
                    </div> -->
                </div>
            </div>

            <div class="row">
                <button>Hír feltöltése</button>
                <!-- <button mat-raised-button
                [disabled]="titleInput.invalid || textInput.invalid || signInput.invalid || rankInput.invalid">Feltöltés</button> -->
            </div>
        </form>
    </div>
</div>