table {
    margin: 2% 5%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.input {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.custom-pagination /deep/ .ngx-pagination .current {
    background: #00983A;
}

label {
    font-weight: normal;
    margin-left: 5%;
    margin-right: 10px;
}