table {
    margin: 5%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.input {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}