<table>
    <tr>
      <th>Kapcsolat neve</th>
      <th>Cím</th>
      <th>Telefon</th>
      <th>Mobil</th>
      <th>Email</th>
      <th>Nyitvatartás</th>
      <th>Szélesség</th>
      <th>Hosszúság</th>
    </tr>
    <tr *ngFor="let item of contactsCont">
      <td>{{item.name}}</td>
      <td>{{item.address}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.mobile}}</td>
      <td>{{item.email}}</td>
      <td>nyitvatartás</td>
      <td>{{item.latitude}}</td>
      <td>{{item.longitude}}</td>
    </tr>
  </table>