<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div>
    <h1 class="mid">Tájékoztató szöveg a lomtalanításról</h1>
    <p class="information">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>

<form>
    <div class="mid">
        <p class="mid">A bejelentő felület az alábbiak elfogadása után válik elérhetővé!</p>
        <label class="container">
            <input type="checkbox" id="acknowledgement">
            <span class="checkmark"></span>
            Kijelentem, hogy a tájékoztatóban leírtakat elolvastam és tudomásul vettem.
        </label>
    </div>
</form>

<div class="row">
    <div class="containerYoink">
        <form (ngSubmit)="onSubmit()">
            <div class="row">
                <h3>Ügyfél adatai</h3>
                
                <div class="col-50">
                    <i class="fa fa-info-circle infoIcon" title="NHKV Zrt. által kiállított számlán szereplő név."></i>
                    <label for="name" title="NHKV Zrt. által kiállított számlán szereplő név.">
                        Név:
                    </label>
                    <input type="text" id="name" [(ngModel)]="request.name" name="name"
                        required pattern="[A-Za-z.-]{1,}" placeholder="Minta Marci" #nameInput="ngModel">
                    
                    <i class="fa fa-info-circle infoIcon" title="NHKV Zrt. által kiállított számlán 
                        szereplő 7 számjegyből álló felhasználói azonosító szám."></i>
                    <label for="userID" title="NHKV Zrt. által kiállított számlán szereplő 7 számjegyből 
                        álló felhasználói azonosító szám.">
                        Ügyfélkód:
                    </label>
                    <input type="number" id="userID" [(ngModel)]="request.userID" name="userID"
                        required pattern="[0-9]{6,7}" placeholder="1234567" #userIDInput="ngModel">

                    <label for="email">
                        E-mail cím:
                    </label>
                    <input type="email" id="email" [(ngModel)]="request.email" name="email" required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="minta@zkn.hu"
                        #emailInput="ngModel">

                    <label for="phone">
                        Telefonszám:
                    </label>
                    <input type="phone" id="phone" [(ngModel)]="request.phone" name="phone"
                        required placeholder="+3692/900-036" #phoneInput="ngModel">
                </div>
                <div class="col-50">
                    <label for="district">Városrész:</label>
                    <select id="district" [(ngModel)]="selectedDistrict" name="district" #districtInput="ngModel">
                        <option *ngFor="let district of districts" [value]=district>
                            {{district?.viewValue}}
                        </option>
                    </select>

                    <label for="street">Utca:</label>
                    <div *ngIf="selectedDistrict == Empty">
                        <input type="text" disabled="true" placeholder="Kérem előbb válassza ki a városrészt!">
                    </div>
                    <div *ngIf="selectedDistrict == 'belvaros'">
                        <select id="street" formControlName="street">
                            <option value="">Kérem válasszon!</option>
                            <option *ngFor="let street of streetsBelvaros" [ngValue]="street.value">
                                {{street.viewValue}}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="selectedDistrict == 'kertvaros'">
                        <select id="street" formControlName="street">
                            <option value="">Kérem válasszon!</option>
                            <option *ngFor="let street of streetsKertvaros" [ngValue]="street.value">
                                {{street.viewValue}}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="selectedDistrict == 'paterdomb'">
                        <select id="street" formControlName="street">
                            <option value="">Kérem válasszon!</option>
                            <option *ngFor="let street of streetsPaterdomb" [ngValue]="street.value">
                                {{street.viewValue}}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="selectedDistrict == 'andrashida'">
                        <select id="street" formControlName="street">
                            <option value="">Kérem válasszon!</option>
                            <option *ngFor="let street of streetsAndrashida" [ngValue]="street.value">
                                {{street.viewValue}}
                            </option>
                        </select>
                    </div>

                    <label for="houseNumber">Házszám:</label>
                    <input type="text" id="houseNumber" formControlName="houseNumber">

                </div>
            
            </div>
            <hr>
            <div class="row">
                <h3>Lomhulladék jellege</h3>
                <div class="col-50">

                    <label class="container containerLom">
                        <input type="checkbox" fromControlName="lomButor" id="lomButor" value="lomButor">
                        <span class="checkmark"></span>
                        Bútorok, berendezési tárgyak
                    </label>

                    <label class="container containerLom">
                        <input type="checkbox" fromControlName="lomKertiButor" id="lomKertiButor" value="lomKertiButor">
                        <span class="checkmark"></span>
                        Kerti bútor garnitúra
                    </label>

                    <label class="container containerLom">
                        <input type="checkbox" fromControlName="lomJatek" id="lomJatek" value="lomJatek">
                        <span class="checkmark"></span>
                        Nagyobb játék
                    </label>

                    <label class="container containerLom">
                        <input type="checkbox" fromControlName="lomFem" id="lomFem" value="lomFem">
                        <span class="checkmark"></span>
                        Fémek
                    </label>
                </div>
                <div class="col-50">
                    <label for="lomTextArea">Megjegyzés:</label>
                    <textarea id="lomTextArea" formControlName="lomTextArea"></textarea>
                </div>
            </div>
            <hr>
            <p class="mid">adatvédelmi tájékoztató placeholder</p>
            <label class="container mid">
                <input type="checkbox" formControlName="GDPR" id="GDPR" value="GDPR">
                <span class="checkmark"></span>
                Egyetértek az adatvédelmi irányelvekkel amely a fenti linken olvasható.
            </label>
            <p class="mid">recaptcha placeholder</p>
            <button type="submit" [disabled]="!sendable" id="sendBtn">Beküldés</button>
            <p class="mid error" id="errorTxt"></p>
        </form>
    </div>
</div>