<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div>
    <h1 class="mid" id="title" name="title">{{title}}</h1>
    <p class="information" style="white-space:pre-wrap" id="text" name="text">{{text}}</p>
</div>

<div class="mid">
    <p class="mid">A bejelentő felület az alábbiak elfogadása után válik elérhetővé!</p>
    <label class="container">
        <input type="checkbox" id="acknowledgement" (change)="setFormVisibility()">
        <span class="checkmark"></span>
        Kijelentem, hogy a tájékoztatóban leírtakat elolvastam és tudomásul vettem.
    </label>
</div>

<div *ngIf="formVisible" class="row">
    <div class="containerYoink">
        <form (ngSubmit)="onSubmit()">
            <div class="row">
                <h3>Ügyfél adatai</h3>

                <div class="col-50">
                    <i class="fa fa-info-circle infoIcon" title="NHKV Zrt. által kiállított számlán szereplő név."></i>
                    <label for="name" title="NHKV Zrt. által kiállított számlán szereplő név.">
                        Név:
                    </label>
                    <input type="text" id="name" [(ngModel)]="request.name" name="name" required
                        pattern="[a-zA-Z-. áéíóöőúüűÁÉÍÓÖŐÚÜŰäÄ]{1,}" placeholder="Minta Marci" #nameInput="ngModel">

                    <i class="fa fa-info-circle infoIcon" title="NHKV Zrt. által kiállított számlán 
                        szereplő 7 számjegyből álló felhasználói azonosító szám."></i>
                    <label for="userID" title="NHKV Zrt. által kiállított számlán szereplő 7 számjegyből 
                        álló felhasználói azonosító szám.">
                        Ügyfélkód:
                    </label>
                    <input type="number" id="userID" [(ngModel)]="request.userID" name="userID" required
                        pattern="[0-9]{6,7}" placeholder="1234567" #userIDInput="ngModel">

                    <label for="email">
                        E-mail cím:
                    </label>
                    <input type="email" id="email" [(ngModel)]="request.email" name="email" required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="minta@zkn.hu"
                        #emailInput="ngModel">

                    <label for="phone">
                        Telefonszám:
                    </label>
                    <input type="phone" id="phone" [(ngModel)]="request.phone" name="phone" required
                        placeholder="+3692/900-036" #phoneInput="ngModel">
                </div>
                <div class="col-50">
                    <label for="district">Városrész:</label>
                    <select id="district" [(ngModel)]="selectedDistrict" name="district" required
                        #districtInput="ngModel">
                        <option *ngFor="let district of districtsCont" [value]=district>
                            {{district}}
                        </option>
                    </select>

                    <label for="street">Utca:</label>
                    <select [disabled]="districtInput.pristine" id="street" [(ngModel)]="selectedStreet" name="street" required #streetInput="ngModel">
                        <option *ngFor="let street of streetsCont" [value]="street">
                            {{street}}
                        </option>
                    </select>

                    <label for="houseNumber">
                        Házszám:
                    </label>
                    <input type="text" id="houseNumber" [(ngModel)]="request.houseNumber" name="houseNumber" required
                        #houseNumberInput="ngModel">

                    <label for="retrievalTime">Lomtalanítás ideje:</label>
                    <input type="text" id="retrievalTime" disabled="true" [(ngModel)]="retrievalTime" name="retrievalTime">

                </div>

            </div>
            <hr>
            <div class="row">
                <h3>Lomhulladék jellege</h3>
                <div class="col-50">

                    <label *ngFor="let garbage of garbagesCont" class="container containerLom">
                        <input type="checkbox" name="checkbox-list" [(ngModel)]="garbage.completed">
                        <span class="checkmark"></span>
                        {{garbage.name}}
                    </label>

                </div>
                <div class="col-50">
                    <label for="lomTextArea">Megjegyzés:</label>
                    <textarea id="lomTextArea" name="lomTextArea" [(ngModel)]="request.lomTextArea"></textarea>
                </div>
            </div>
            <hr>
            <p class="mid">adatvédelmi tájékoztató link placeholder</p>
            <label class="container mid">
                <input type="checkbox" id="GDPR" [(ngModel)]="GDPR" name="GDPR" required #GDPRInput="ngModel">
                <span class="checkmark"></span>
                Egyetértek az adatvédelmi irányelvekkel amely a fenti linken olvasható.
            </label>
            <p class="mid">recaptcha placeholder</p>
            <!-- ideiglenesen kivettem, hogy minden inputot kérjen -->
            <button type="submit" [disabled]="nameInput.invalid 
                    || userIDInput.invalid 
                    || emailInput.invalid 
                    || phoneInput.invalid
                    || districtInput.invalid
                    || streetInput.invalid
                    || houseNumberInput.invalid
                    || GDPRInput.invalid" id="sendBtn">
                Beküldés
            </button>
            
            <!-- <button type="submit" [disabled]="nameInput.invalid" id="sendBtn">
                Beküldés
            </button> -->
            <p class="mid error" id="errorTxt"></p>
        </form>
    </div>
</div>