
<div class="header">
    <h2>Bejelentő felület szerkesztése</h2>
</div>
<div class="header">
    <a *ngFor="let item of subMenuItems" id="{{item.id}}" (click)="toggle(item)" 
    [ngClass]="{'active': item.active}">{{item.label}}</a>
</div>

<div>
    <app-edit-userform-label *ngIf="editedSub === 'edit-userform-label'">
    </app-edit-userform-label>

    <app-edit-userform-records *ngIf="editedSub === 'edit-userform-records'">
    </app-edit-userform-records>

    <app-edit-district-dates *ngIf="editedSub === 'edit-district-dates'">
    </app-edit-district-dates>

    <app-edit-userform-garbages *ngIf="editedSub === 'edit-userform-garbages'">
    </app-edit-userform-garbages>
</div>