<div>
    <a class="archive" (click)="unArchiveMultiple()">
        <fa-icon class="archive" [icon]="unArchive"></fa-icon>Kijelöltek visszaállítása
    </a>
    <a class="delete" (click)="deleteMultiple()">
        <fa-icon class="delete" [icon]="trashcan"></fa-icon>Kijelöltek végleges törlése
    </a>
</div>
<table>
    <tr>
        <th><input type="checkbox" [(ngModel)]="header.completed" [checked]="allComplete"
            (change)="setAll($event.checked)"></th>
        <th>Közzétéve</th>
        <th>Hír címe</th>
        <th>Létrehozva</th>
        <th>Szerző</th>
        <th>Beosztás</th>
        <th>Visszaállítás</th>
        <th>Végleges törlés</th>
    </tr>
    <tr *ngFor="let item of newsCont | paginate: { itemsPerPage: rowsPerPage, currentPage: p }">
        <td><input type="checkbox" [(ngModel)]="item.completed" (ngModelChange)="updateAllComplete()"></td>
        <td class="mid">
            <mat-slide-toggle [(ngModel)]="item.active" (change)="activityChange(item)"></mat-slide-toggle>
        </td>
        <td>
            <a (click)="openDialog(item)" title="Hír szerkesztése">
                {{item.title}}
            </a>
        </td>
        <td>{{item.date | date: 'yyyy.MM.dd HH:mm:ss'}}</td>
        <td>{{item.sign}}</td>
        <td>{{item.rank}}</td>
        <td class="mid"><a (click)="unArchiveNews(item)"><fa-icon [icon]="unArchive"></fa-icon></a></td>
        <td class="mid"><a (click)="deleteNews(item)"><fa-icon [icon]="trashcan"></fa-icon></a></td>
    </tr>
</table>
<pagination-controls class="custom-pagination" (pageChange)="p = $event; selectReset()" autoHide="true"
    responsive="true" previousLabel="Előző" nextLabel="Következő">
</pagination-controls>
<label for="rowsPerPage">Sorok száma oldalanként:</label>
<select id="rowsPerPage" [(ngModel)]="rowsPerPage" name="rowsPerPage" (change)="p = 1; updateAllComplete(); selectReset()">
    <option *ngFor="let item of rowsPerPageCont">{{item}}</option>
</select>